vcs.xml
*.o
*.a
/ch2/memo
/ch2/memo2
/ch2/xecute
/ch3/editor
/ch3/editor
/ch3/rmtest
/ch3/rmtest2
/ch3/rmtest3
/ch3/rmtest4
/ch4/chooseone
/ch4/label
/ch4/pushbutton
/ch4/input
/ch4/numeric
/ch4/password
/ch4/toggle
/ch5/explicit
/ch5/formtest
/ch5/formtest2
/ch5/layout
/ch5/frame
/ch5/pane
/ch5/mainwindow
/ch5/radiobox
/ch5/rctest
/ch5/scale
/ch5/scroll
/ch5/traverse
/ch5/twoshells
/ch6/helpdemo
/ch6/menubar
/ch6/option
/ch6/option2
/ch6/popupmenu
/ch6/cascade
/ch6/tearoff
/ch7/customdialog
/ch7/customdialog2
/ch7/customdialog3
/ch7/dialogdemo
/ch7/dialogdemo2
/ch7/filedemo
/ch7/xecute
/ch7/askquestion
/ch8/busy
/ch8/xbc
/ch8/tracker1
/ch8/tracker2
/ch9/coloredit
/ch9/getpixel
/ch9/getpixelbyname
/ch9/loadrgb
/ch10/intersect
