vcs.xml
*.o
*.a
/ch2/memo
/ch2/memo2
/ch2/xecute
/ch3/editor
/ch3/editor
/ch3/rmtest
/ch3/rmtest2
/ch3/rmtest3
/ch3/rmtest4
/ch4/chooseone
/ch4/label
/ch4/pushbutton
/ch4/input
/ch4/numeric
/ch4/password
/ch4/toggle
/ch5/explicit
/ch5/formtest
/ch5/formtest2
/ch5/layout
/ch5/frame
/ch5/pane
/ch5/mainwindow
/ch5/radiobox
/ch5/rctest
/ch5/scale
/ch5/scroll
/ch5/traverse
/ch5/twoshells
